---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 1b9deaa802fb250110cc11e18f4a5f89
      X-Oauth-Scopes:
      - incoming-webhook,channels:read,groups:read,im:read,mpim:read,users:read
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-ce55,haproxy-edge-pdx-rf66
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C01C16GNVMZ","name":"random","is_channel":true,"is_group":false,"is_im":false,"created":1601965941,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"random","is_shared":false,"parent_conversation":null,"creator":"U01C10DATH8","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01C16GNGG3"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"cs
        memes are great!","creator":"U01C10G57NE","last_set":1602023254},"purpose":{"value":"This
        channel is for... well, everything else. It\u2019s a place for team jokes,
        spur-of-the-moment ideas, and funny GIFs. Go wild!","creator":"U01C10DATH8","last_set":1601965941},"previous_names":[],"num_members":2},{"id":"C01C761G84U","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1601965941,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"U01C10DATH8","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01C16GNGG3"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"We
        [...]
